*{
	font-family:Arial
}

body{
	background-color:#24607f;
	text-align:center;
	padding:0;
	margin:0;
}

#container{
	margin:0 auto;
	width:850px;
}

#menu{
	background-color:#fff;
	text-align:center;
}

#menu ul{
	margin:0;
	padding:0;
}

#menu ul li{
	list-style:none;
	display: inline-block;
	padding: 40px 10px;
	margin-left:-25px
}

#menu ul li a{
	color:#000;
	font-size:14px;
	font-weight:bold;
	padding:40px 10px;
	text-decoration:none;
}

#menu ul li a:hover{
	background-color:#ff5105;
	color:#fff;
}

.logo, .logo:hover{
	background:#fff url(../img/);
	background-repeat: no-repeat;
	background-position:center center;
	padding-left:75px !important;
	padding-right:75px !important;
}

#slider{
	background: url(../img/);
	background-repeat:no-repeat;
	background-position:center center;
	height:750px;
	margin-top:15px;
	width:100%;
	box-shadow:1px 1px 10px rgba(0,0,0,0.5);
	-webkit-box-shadow:1px 1px 10px rgba(0,0,0,0.5);
	-moz-box-shadow:1px 1px 10px rgba(0,0,0,0.5);
	-o-box-shadow:1px 1px 10px rgba(0,0,0,0.5);
}

h2{
	color:#a3e0ff;
	font-size:28px;
	margin-bottom:50px;
	text-shadow:1px 1px 7px rgba(0,0,0,0.5);
	-webkit-text-shadow:1px 1px 7px rgba(0,0,0,0.5);
	-moz-text-shadow:1px 1px 7px rgba(0,0,0,0.5);
	-o-text-shadow:1px 1px 7px rgba(0,0,0,0.5);
}

.conteudo{
	background-color:#fff;
	box-shadow:1px 1px 10px rgba(0,0,0,0.5);
	-webkit-box-shadow:1px 1px 10px rgba(0,0,0,0.5);
	-moz-box-shadow:1px 1px 10px rgba(0,0,0,0.5);
	-o-box-shadow:1px 1px 10px rgba(0,0,0,0.5);
}

.conteudo p{
	font-size:14px;
	padding:40px;
}

#formulario{
	background-color:#d2d2d2;
	margin-top:-20px;
	padding:40px;
	box-shadow:insert 0px 1px 20px rgba(0,0,0,0.5);
	-webkit-box-shadow:insert 0px 1px 20px rgba(0,0,0,0.5);
	-moz-box-shadow:insert 0px 1px 20px rgba(0,0,0,0.5);
	-o-box-shadow:insert 0px 1px 20px rgba(0,0,0,0.5);
}

#formulario form{
	font-size:14px;
	margin:0 auto;
	width:400px;
}

textarea{
	height:100px;
	width:400px;
}

.campo, textarea{
	background:#eee;
	border:0;
	margin-top:10px;
	margin-bottom:10px;
	padding:10px;
	width:400px;
	border-radius:3px;
}

.campo:focus, textarea:focus{
	background:#fff;
	outline:none;
	box-shadow:1px 1px 10px #24607f;
	-webkit-box-shadow:1px 1px 10px #24607f;
	-moz-box-shadow:1px 1px 10px #24607f;
	-o-box-shadow:1px 1px 10px #24607f;
	
}

.botao{
	background:#fff;
	border:0;
	padding:10px;
	width:110px;
	color:#000;
	border-radius:3px;
	cursor:pointer;
}

.botao:hover{
	background-color:#000;
	color:#fff;
}

#formulario label{
	float:left;
}

#footer{
	color:#fff;
	font-size:12px;
	font-weight:bolder;
	padding-top:30px;
	padding-bottom:30px;
	text-align:center;

	
	

